/********************************  HEADER  *********************************/
$header-border: 1px solid $border-color;
$mobile-menu-button-border: $mobilebtn-border-size solid $mobile-btn-color;
$mobile-menu-button-hover-border: $mobilebtn-border-size solid $mobile-btn-color-hover;

$mobile-btn-border: $mobilebtn-border-size solid $mobile-btn-color;
$mobile-btn-border-hover: $mobilebtn-border-size solid $mobile-btn-color-hover;

/******************************  CHARACTERS  *******************************/
$character-thumbs-border: 1px solid rgba(0,0,0,.5);
$character-thumb-hover: 1px solid $white;

$character-image-border: 1px solid rgba(0,0,0,.5);

/******************************  PRODUCTION  *******************************/
$production-thumb-selected-border: 1px solid rgba(0, 0, 0, 0.5);

$production-image-border: 1px solid rgba(0,0,0,.5);

/*********************************  CAST  **********************************/
$cast-thumb-selected-border: 1px solid rgba(0, 0, 0, 0.5);

$cast-image-border: 1px solid rgba(0,0,0,.5);

/********************************  VIDEOS  *********************************/

/********************************  PRESS  **********************************/

/*******************************  FOOTER  **********************************/
$footer-border: 1px solid $border-color;
