/********************************** GLOBAL *********************************/
$content-margin-top: 30px;

$arrow-width: 45px;
$arrow-height: 45px;

$side-menu-width: 335px;
$gradient-bottom-height:300px;

/********************************* HEADER **********************************/
$header-ta-width: 246px;
$header-ta-height: 53px;

$header-spacing: 0px;
$header-tunein-width: 156px;
$header-tunein-height: 32px;
$header-tunein-margin-top: 10px;

$header-width: $header-spacing + $header-ta-width;
$header-height: $header-spacing + $header-ta-height;

/********************************* MENU ************************************/
$menu-spacing: 20px;
$menu-link-height: 25px;
$menu-link-selected-height: 35px;
$menu-link-spacing: 5px;
$menu-link-selected-spacing: 10px;

$mobilebtn-size: 40px;
$mobilebtn-spacing: 15px;
$mobilebtn-border-size: 2px;
$mobilebtn-line-width: 80%;
$mobilebtn-line-spacing: 6px;

/***************************** MOBILE MENU *********************************/
$mobile-menu-button-border-size: 1px;

/******************************* SIDEMENU **********************************/
$sidemenu-spacing: 10px;
$sidemenu-link-height: 22px;
$sidemenu-link-selected-height: 35px;
$sidemenu-link-spacing: 5px;
$sidemenu-link-selected-spacing: 10px;

/********************************* FOOTER **********************************/
$footer-logo-width: 122px;
$footer-logo-height: 29px;
$footer-logo-spacing: 10px;

$social-margin: 6px 0 5px 0;
$social-width: 20px;
$social-height: 20px;
$social-space: 10px;
/********************************** INTRO **********************************/
$introbtn-width: 200px;
$introbtn-height: 50px;
$introbtn-left: 50%;
$introbtn-bottom: 10%;

$introbtn-margin-left: $introbtn-width/-2;

/******************************** SYNOPSIS *********************************/
$synopsis-margin-bottom: 10%;
$synopsis-tag-margin-bottom: 10px;

/********************************** STORY **********************************/
$story-image-width: 1300px;
$story-image-height: 600px;
$story-arrow-width: 320px;
$story-arrow-bottom: -15px;

$story-slide-height: ( $story-image-height /  $story-image-width ) * 100%;
$story-margin-left: $story-arrow-width/-2;

/******************************** CHARACTERS *******************************/
$character-padding-bottom: 8%;

/******************************** PRODUCTION *******************************/
$production-bio-margin-top: 20px;

$production-image-width: 403px;
$production-image-height: 300px;

$production-image-percent: ( $production-image-height / $production-image-width ) * 100%;

/********************************** CAST ***********************************/
$cast-bio-margin-top: 20px;

$cast-image-width: 403px;
$cast-image-height: 300px;

$cast-image-percent: ( $production-image-height / $production-image-width ) * 100%;

/********************************* VIDEOS **********************************/
$video-thumb-spacing: 30px;
$video-thumb-image-width: 140px;
$video-thumb-image-height: 98px;
$video-thumb-padding: 10px;

$video-player-margin-top: 15px;

$video-percent: (9/16) * 100%;

$video-thumb-min-height: $video-thumb-padding*2 + $video-thumb-image-height;
$video-thumb-copy-left: $video-thumb-padding*2 + $video-thumb-image-width;

/***************************** PRESS MATERIALS *****************************/
$press-category-spacing: 15px;

$press-item-height: 80px;
$press-item-margin-top: 10px;

$press-icon-width: 60px;
