.menu{
	@include display-flex;
	@include align-items(center);
	@include justify-content(left);
	@include flex-grow(1);

	@media #{$small}{
		display: none;
	}

	.list{
		width: 100%;
		margin-left:0%;

		@include transition-property(margin-left);
		@include transition-duration(.5s);
		@include transition-timing-function(ease-in);

		&.hidemenu{
			margin-left: -100%;
		}

		a{
			display:block;
			color: $menu-link-color;
			position: relative;
			overflow: hidden;
			height: $menu-link-height;
			margin: $menu-link-spacing 0;
			font-size: 18px;
			letter-spacing: 2px;

			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease);

			&:hover{
				color: $menu-link-selected;
			}

			&.highlight{
				color: $menu-link-highlight;
			}

			span{
				display: block;
				position: relative;
				margin-left: 10px;
				width: 500px;
			}

			&:before{
				content: " ";
				position: absolute;
				width: 0px;
				height: 100px;
				background: $menu-selected-background;
				display:block;
				@include opacity(.01);

				@include transition-property(all);
				@include transition-duration(.3s);
				@include transition-timing-function(ease);
				@include transition-delay(.2s);
			}

			&.selected{
				font-size: 22px;
				height: $menu-link-selected-height;
				line-height: $menu-link-selected-height+2;
				margin: $menu-link-selected-spacing 0;
				color: $menu-link-selected;

				&:before{
					width: 100%;
					@include opacity(1);
				}
			}
		}
	}
}
