.production{
	.main-column {
		padding: 0px 30px;

		@media #{$small}{
			padding: 0px 15px;
		}

		.main{
			width: 100%;
			height: 100%;
			position: relative;

			.slide{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				.copy{
					width: 100%;
					padding-top: $production-bio-margin-top;

					@media #{$small}{
						padding-top: $header-ta-height+20;
						padding-bottom: 30px;
					}

					.image{
						max-width: $production-image-width;
						overflow: hidden;
						margin: auto;

						.img{
							padding-top: $production-image-percent;
							background-repeat: no-repeat;
							background-position: top center;
							background-size: contain;
						}
					}
				}
			}

			&.forward{
				.slide{
					&.slider-enter {
						left: 100%;
						@include opacity(.01);
					}

					&.slider-enter.slider-enter-active {
						left: 0%;
						@include opacity(1);
						@include transition-property(all);
						@include transition-duration(.25s);
						@include transition-timing-function(ease-in);
					}

					&.slider-leave {
						left: 0%;
						@include opacity(1);
					}

					&.slider-leave.slider-leave-active {
						left:-100%;
						@include opacity(.01);
						@include transition-property(all);
						@include transition-duration(.25s);
						@include transition-timing-function(ease-in);
					}
				}
			}

			&.backward{
				.slide{
					&.slider-enter {
						left: -100%;
						@include opacity(.01);
					}

					&.slider-enter.slider-enter-active {
						left: 0%;
						@include opacity(1);
						@include transition-property(all);
						@include transition-duration(.25s);
						@include transition-timing-function(ease-in);
					}

					&.slider-leave {
						left: 0%;
						@include opacity(1);
					}

					&.slider-leave.slider-leave-active {
						left:100%;
						@include opacity(.01);
						@include transition-property(all);
						@include transition-duration(.25s);
						@include transition-timing-function(ease-in);
					}
				}
			}
		}
	}
}
